.skill_sets_wrapper{
  width:100%;
  /*height:40rem;*/
  background:#ff474f ;
  position: relative;
  color:#ff8a93;
  z-index:7;
}

.skill_sets_wrapper:after{
  content:'';
  width:2rem;
  height:2rem;
  transform: rotate(45deg);
  background: #ff474f;
  position: absolute;
  bottom: -1rem;
  left: 10%;
  cursor: pointer;
}

.skill_sets_wrapper:before{
  content:'';
  width:100%;
  height:.4rem;
  background: rgba(48, 48, 48,0.2);
  position: absolute;
  bottom: -0.4rem;
  left:0px;
}

.skill_sets_header{
  height:10rem;
  width:100%;
  font-family: 'Monoton', cursive;
  font-size: 2rem;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  word-spacing: 1rem;
}

.skill_sets_body{
  width:100%;
  height:30rem;
  display:flex;
}

.technologies{
  width:95%;
  color:black;
  margin-left: 5%;
  font-size: 2rem;
  color:white;
  font-weight: bolder;
}

.technologies > tr{
  margin-bottom: 1rem;
  height:5rem;
}
.left_sub_header{
  padding-left:5rem;
  color:white;
}

.right_sub_header{
  color:white;
}

.bar{
  width:70%;
  position:relative;
}

.more{
  width:30%;
  color:#7f181c;
  font-size: 1.4rem;
}

.skill_bar_html{
  height:1.5rem;
  background:#7f181c;
  width:80%;
  display: inline-flex;
  margin-left:8%;
  position: relative;
}

.skill_bar_html:before{
  content: 'HTML';
  color:#ff474f;
  font-size: 1.2rem;
  position: absolute;
  height:1.2rem;
  width:1.2rem;
  margin-left: 1rem;
}

.skill_bar_css{
  height:1.5rem;
  background:#7f181c;
  width:80%;
  display: inline-flex;
  margin-left:8%;
  position: relative;
}

.skill_bar_css:before{
  content: 'CSS';
  color:#ff474f;
  font-size: 1.2rem;
  position: absolute;
  height:1.2rem;
  width:1.2rem;
  margin-left: 1rem;
}

.skill_bar_js{
  height:1.5rem;
  background:#7f181c;
  width:40%;
  display: inline-flex;
  margin-left:8%;
  position: relative;
}

.skill_bar_js:before{
  content: 'JS';
  color:#ff474f;
  font-size: 1.2rem;
  position: absolute;
  height:1.2rem;
  width:1.2rem;
  margin-left: 1rem;
}

.skill_bar_php{
  height:1.5rem;
  background:#7f181c;
  width:20%;
  display: inline-flex;
  margin-left:8%;
  position: relative;
}

.skill_bar_php:before{
  content: 'PHP';
  color:#ff474f;
  font-size: 1.2rem;
  position: absolute;
  height:1.2rem;
  width:1.2rem;
  margin-left: 1rem;
}


/*.html_block{
  position:relative;
}
.css_block{}
.js_block{}
.php_block{}*/

.html_bar{
  position: relative;
}

.html_bar:before{
  content:'';
  position: absolute;
  background:url('../images/html5bw.png');
  height:2rem;
  width:2rem;
  background-size: cover;
}

.css_bar{
    position: relative;
}

.css_bar:before{
  content:'';
  position: absolute;
  background:url('../images/css.png');
  height:2rem;
  width:2rem;
  background-size: cover;
}

.js_bar{
    position: relative;
}

.js_bar:before{
  content:'';
  position: absolute;
  background:url('../images/reactjs.png');
  height:2rem;
  width:2rem;
  background-size: cover;
}

.php_bar{
    position: relative;
}

.php_bar:before{
  content:'';
  position: absolute;
  background:url('../images/php.png');
  height:2rem;
  width:2rem;
  background-size: cover;
}
